In [4]:
# Import librerias
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
#markdown de que tratan las columnas
#hacer un grafico de una pregunta interesante (grupo de columnas) 
#primeras 15 patrick
#siguient bruno 
#34 a final juan
#https://docs.google.com/document/d/1xeXGwWcrq0DfJiaZdMEY90f4sume7BjmDSZ1k1nbNno/edit?usp=sharing
#https://data.educacion.gob.ar/aprender-respuestas-estudiante

In [6]:
ruta_archivo = "../data/raw/2024 Base APRENDER - Censal - Secundaria 5-6 año - Agregada - Desempeños de Lengua(in).csv"

In [13]:
# cargar la versión CSV:
#data = pd.read_csv(ruta_archivo, sep=';', encoding='utf-8')
data = pd.read_csv(ruta_archivo, sep=';', encoding="latin-1")

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1228 entries, 0 to 1227
Columns: 1035 entries, jurisdiccion to Nivel_Ed_Persona_Resp_Terciario_universitario_posgrado_completo
dtypes: object(1035)
memory usage: 9.7+ MB

# Dataset



* las columnas 12345 tratan de edad:

In [15]:
from pandas.api.types import is_numeric_dtype

def analizar_dataframe(df):
    for col in df.columns:
        print(f"\nColumna: {col}")
        tipo = df[col].dtype

        if is_numeric_dtype(tipo):
            print("Tipo: float")
            print(f"  Media: {df[col].mean()}")
            print(f"  Moda: {df[col].mode().iloc[0] if not df[col].mode().empty else 'Sin moda'}")
            print(f"  Mínimo: {df[col].min()}")
            print(f"  Máximo: {df[col].max()}")

        elif pd.api.types.is_object_dtype(tipo):
            print("Tipo: objeto")
            num_categorias = df[col].nunique()
            if num_categorias > 20:
                print(f"  Más de 20 categorías ({num_categorias}), no se listan.")
            else:
                print(f"  Categorías más frecuentes:")
                print(f"  {df[col].value_counts().head(5)}")
        else:
            print(f"Tipo no explorado: {tipo}")
        print("\n")

In [16]:
analizar_dataframe(data)

Columna: jurisdiccion
Tipo: objeto
  Más de 20 categorías (24), no se listan.



Columna: departamento
Tipo: objeto
  Más de 20 categorías (440), no se listan.



Columna: sector
Tipo: objeto
  Categorías más frecuentes:
  sector
Estatal    894
Privado    334
Name: count, dtype: int64



Columna: ambito
Tipo: objeto
  Categorías más frecuentes:
  ambito
Urbano    756
Rural     472
Name: count, dtype: int64



Columna: ap01_Blanco
Tipo: objeto
  Categorías más frecuentes:
  ap01_Blanco
    1228
Name: count, dtype: int64



Columna: ap01_No_disponible
Tipo: objeto
  Categorías más frecuentes:
  ap01_No_disponible
    1228
Name: count, dtype: int64



Columna: ap01_Multimarca
Tipo: objeto
  Categorías más frecuentes:
  ap01_Multimarca
    1228
Name: count, dtype: int64



Columna: ap01_Enero
Tipo: objeto
  Más de 20 categorías (1152), no se listan.



Columna: ap01_Febrero
Tipo: objeto
  Más de 20 categorías (1143), no se listan.



Columna: ap01_Marzo
Tipo: objeto
  Más de 20 categorías (1157), no se listan.



Columna: ap01_Abril
Tipo: objeto
  Más de 20 categorías (1156), no se listan.



Columna: ap01_Mayo
Tipo: objeto
  Más de 20 categorías (1146), no se listan.



Columna: ap01_Junio
Tipo: objeto
  Más de 20 categorías (1154), no se listan.



Columna: ap01_Julio
Tipo: objeto
  Más de 20 categorías (1144), no se listan.



Columna: ap01_Agosto
Tipo: objeto
  Más de 20 categorías (1148), no se listan.



Columna: ap01_Septiembre
Tipo: objeto
  Más de 20 categorías (1149), no se listan.



Columna: ap01_Octubre
Tipo: objeto
  Más de 20 categorías (1138), no se listan.



Columna: ap01_Noviembre
Tipo: objeto
  Más de 20 categorías (1136), no se listan.



Columna: ap01_Diciembre
Tipo: objeto
  Más de 20 categorías (1151), no se listan.



Columna: ap02_Blanco
Tipo: objeto
  Categorías más frecuentes:
  ap02_Blanco
    1228
Name: count, dtype: int64



Columna: ap02_No_disponible
Tipo: objeto
  Categorías más frecuentes:
  ap02_No_disponible
    1228
Name: count, dtype: int64



Columna: ap02_Multimarca
Tipo: objeto
  Categorías más frecuentes:
  ap02_Multimarca
    1228
Name: count, dtype: int64



Columna: ap02_Antes_de_2002
Tipo: objeto
  Más de 20 categorías (436), no se listan.



Columna: ap02_2002
Tipo: objeto
  Más de 20 categorías (289), no se listan.



Columna: ap02_2003
Tipo: objeto
  Más de 20 categorías (452), no se listan.



Columna: ap02_2004
Tipo: objeto
  Más de 20 categorías (789), no se listan.



Columna: ap02_2005
Tipo: objeto
  Más de 20 categorías (1098), no se listan.



Columna: ap02_2006
Tipo: objeto
  Más de 20 categorías (1218), no se listan.



Columna: ap02_2007
Tipo: objeto
  Más de 20 categorías (1224), no se listan.



Columna: ap02_2008
Tipo: objeto
  Más de 20 categorías (244), no se listan.



Columna: ap02_Después_de_2008
Tipo: objeto
  Más de 20 categorías (192), no se listan.



Columna: ap03_Blanco
Tipo: objeto
  Categorías más frecuentes:
  ap03_Blanco
    1228
Name: count, dtype: int64



Columna: ap03_No_disponible
Tipo: objeto
  Categorías más frecuentes:
  ap03_No_disponible
    1228
Name: count, dtype: int64



Columna: ap03_Multimarca
Tipo: objeto
  Categorías más frecuentes:
  ap03_Multimarca
    1228
Name: count, dtype: int64



Columna: ap03_Masculino
Tipo: objeto
  Más de 20 categorías (1218), no se listan.



Columna: ap03_Femenino
Tipo: objeto
  Más de 20 categorías (1224), no se listan.



Columna: ap03_X
Tipo: objeto
  Más de 20 categorías (734), no se listan.



Columna: ap04_Blanco
Tipo: objeto
  Categorías más frecuentes:
  ap04_Blanco
    1228
Name: count, dtype: int64



Columna: ap04_No_disponible
Tipo: objeto
  Categorías más frecuentes:
  ap04_No_disponible
    1228
Name: count, dtype: int64



Columna: ap04_Multimarca
Tipo: objeto
  Categorías más frecuentes:
  ap04_Multimarca
    1228
Name: count, dtype: int64



Columna: ap04_Argentina
Tipo: objeto
  Más de 20 categorías (1226), no se listan.



Columna: ap04_Bolivia
Tipo: objeto
  Más de 20 categorías (470), no se listan.



Columna: ap04_Brasil
Tipo: objeto
  Más de 20 categorías (364), no se listan.



Columna: ap04_Chile
Tipo: objeto
  Más de 20 categorías (178), no se listan.



Columna: ap04_Colombia
Tipo: objeto
  Más de 20 categorías (202), no se listan.



Columna: ap04_Ecuador
Tipo: objeto
  Más de 20 categorías (90), no se listan.



Columna: ap04_Paraguay
Tipo: objeto
  Más de 20 categorías (314), no se listan.



Columna: ap04_Perú
Tipo: objeto
  Más de 20 categorías (269), no se listan.



Columna: ap04_Uruguay
Tipo: objeto
  Más de 20 categorías (134), no se listan.



Columna: ap04_Venezuela
Tipo: objeto
  Más de 20 categorías (221), no se listan.



Columna: ap04_Otro_país_de_América
Tipo: objeto
  Más de 20 categorías (255), no se listan.



Columna: ap04_En_un_país_de_Europa
Tipo: objeto
  Más de 20 categorías (522), no se listan.



Columna: ap04_En_un_país_de_Asia
Tipo: objeto
  Más de 20 categorías (215), no se listan.



Columna: ap04_En_un_país_de_Oceanía
Tipo: objeto
  Más de 20 categorías (208), no se listan.



Columna: ap04_En_un_país_de_África
Tipo: objeto
  Más de 20 categorías (342), no se listan.



Columna: ap05a_Blanco
Tipo: objeto
  Categorías más frecuentes:
  ap05a_Blanco
    1228
Name: count, dtype: int64



Columna: ap05a_No_disponible
Tipo: objeto
  Categorías más frecuentes:
  ap05a_No_disponible
    1228
Name: count, dtype: int64



Columna: ap05a_Multimarca
Tipo: objeto
  Categorías más frecuentes:
  ap05a_Multimarca
    1228
Name: count, dtype: int64



Columna: ap05a_En_Argentina
Tipo: objeto
  Más de 20 categorías (1226), no se listan.



Columna: ap05a_En_otro_país_que_no_es_Argentina
Tipo: objeto
  Más de 20 categorías (898), no se listan.



Columna: ap05b_Blanco
Tipo: objeto
  Categorías más frecuentes:
  ap05b_Blanco
    1228
Name: count, dtype: int64



Columna: ap05b_No_disponible
Tipo: objeto
  Categorías más frecuentes:
  ap05b_No_disponible
    1228
Name: count, dtype: int64



Columna: ap05b_Multimarca
Tipo: objeto
  Categorías más frecuentes:
  ap05b_Multimarca
    1228
Name: count, dtype: int64



Columna: ap05b_En_Argentina
Tipo: objeto
  Más de 20 categorías (1226), no se listan.



Columna: ap05b_En_otro_país_que_no_es_Argentina
Tipo: objeto
  Más de 20 categorías (936), no se listan.



Columna: ap05c_Blanco
Tipo: objeto
  Categorías más frecuentes:
  ap05c_Blanco
    1228
Name: count, dtype: int64



Columna: ap05c_No_disponible
Tipo: objeto
  Categorías más frecuentes:
  ap05c_No_disponible
    1228
Name: count, dtype: int64



Columna: ap05c_Multimarca
Tipo: objeto
  Categorías más frecuentes:
  ap05c_Multimarca
    1228
Name: count, dtype: int64



Columna: ap05c_En_Argentina
Tipo: objeto
  Más de 20 categorías (1206), no se listan.



Columna: ap05c_En_otro_país_que_no_es_Argentina
Tipo: objeto
  Más de 20 categorías (638), no se listan.



Columna: ap06_Blanco
Tipo: objeto
  Categorías más frecuentes:
  ap06_Blanco
    1228
Name: count, dtype: int64



Columna: ap06_No_disponible
Tipo: objeto
  Categorías más frecuentes:
  ap06_No_disponible
    1228
Name: count, dtype: int64



Columna: ap06_Multimarca
Tipo: objeto
  Categorías más frecuentes:
  ap06_Multimarca
    1228
Name: count, dtype: int64



Columna: ap06_Sí
Tipo: objeto
  Más de 20 categorías (1163), no se listan.



Columna: ap06_No
Tipo: objeto
  Más de 20 categorías (1226), no se listan.



Columna: ap07_Blanco
Tipo: objeto
  Categorías más frecuentes:
  ap07_Blanco
    1228
Name: count, dtype: int64



Columna: ap07_No_disponible
Tipo: objeto
  Categorías más frecuentes:
  ap07_No_disponible
    1228
Name: count, dtype: int64



Columna: ap07_Multimarca
Tipo: objeto
  Categorías más frecuentes:
  ap07_Multimarca
    1228
Name: count, dtype: int64



Columna: ap07_Sí
Tipo: objeto
  Más de 20 categorías (998), no se listan.



Columna: ap07_No
Tipo: objeto
  Más de 20 categorías (1226), no se listan.



Columna: ap10_Blanco
Tipo: objeto
  Categorías más frecuentes:
  ap10_Blanco
    1228
Name: count, dtype: int64



Columna: ap10_No_disponible
Tipo: objeto
  Categorías más frecuentes:
  ap10_No_disponible
    1228
Name: count, dtype: int64



Columna: ap10_Multimarca
Tipo: objeto
  Categorías más frecuentes:
  ap10_Multimarca
    1228
Name: count, dtype: int64



Columna: ap10_En_mi_casa_o_departamento
Tipo: objeto
  Más de 20 categorías (1227), no se listan.



Columna: ap10_En_un_hogar_de_jóvenes_o_similar
Tipo: objeto
  Más de 20 categorías (378), no se listan.



Columna: ap10_En_una_pensión_casa_hogar_hotel_etc
Tipo: objeto
  Más de 20 categorías (557), no se listan.



Columna: ap10_En_una_casa_club_o_pensión_deportiva
Tipo: objeto
  Más de 20 categorías (369), no se listan.



Columna: ap10_En_la_escuela
Tipo: objeto
  Más de 20 categorías (621), no se listan.



Columna: ap10_En_otro_lugar
Tipo: objeto
  Más de 20 categorías (777), no se listan.



Columna: ap11_Blanco
Tipo: objeto
  Categorías más frecuentes:
  ap11_Blanco
    1228
Name: count, dtype: int64



Columna: ap11_No_disponible
Tipo: objeto
  Categorías más frecuentes:
  ap11_No_disponible
    1228
Name: count, dtype: int64



Columna: ap11_Multimarca
Tipo: objeto
  Categorías más frecuentes:
  ap11_Multimarca
    1228
Name: count, dtype: int64



Columna: ap11_1
Tipo: objeto
  Más de 20 categorías (975), no se listan.



Columna: ap11_2
Tipo: objeto
  Más de 20 categorías (1215), no se listan.



Columna: ap11_3
Tipo: objeto
  Más de 20 categorías (1218), no se listan.



Columna: ap11_4
Tipo: objeto
  Más de 20 categorías (1180), no se listan.



Columna: ap11_5
Tipo: objeto
  Más de 20 categorías (1071), no se listan.



Columna: ap11_6
Tipo: objeto
  Más de 20 categorías (878), no se listan.



Columna: ap11_7
Tipo: objeto
  Más de 20 categorías (685), no se listan.



Columna: ap11_8
Tipo: objeto
  Más de 20 categorías (503), no se listan.



Columna: ap11_9
Tipo: objeto
  Más de 20 categorías (352), no se listan.



Columna: ap11_10_o_más
Tipo: objeto
  Más de 20 categorías (647), no se listan.



Columna: ap12_Blanco
Tipo: objeto
  Categorías más frecuentes:
  ap12_Blanco
    1228
Name: count, dtype: int64



Columna: ap12_No_disponible
Tipo: objeto
  Categorías más frecuentes:
  ap12_No_disponible
    1228
Name: count, dtype: int64



Columna: ap12_Multimarca
Tipo: objeto
  Categorías más frecuentes:
  ap12_Multimarca
    1228
Name: count, dtype: int64



Columna: ap12_Vivo_solo
Tipo: objeto
  Más de 20 categorías (673), no se listan.



Columna: ap12_2
Tipo: objeto
  Más de 20 categorías (1129), no se listan.



Columna: ap12_3
Tipo: objeto
  Más de 20 categorías (1205), no se listan.



Columna: ap12_4
Tipo: objeto
  Más de 20 categorías (1218), no se listan.



Columna: ap12_5
Tipo: objeto
  Más de 20 categorías (1205), no se listan.



Columna: ap12_6
Tipo: objeto
  Más de 20 categorías (1142), no se listan.



Columna: ap12_7
Tipo: objeto
  Más de 20 categorías (996), no se listan.



Columna: ap12_8
Tipo: objeto
  Más de 20 categorías (838), no se listan.



Columna: ap12_9
Tipo: objeto
  Más de 20 categorías (638), no se listan.



Columna: ap12_10_o_más
Tipo: objeto
  Más de 20 categorías (787), no se listan.



Columna: ap13a_Blanco
Tipo: objeto
  Categorías más frecuentes:
  ap13a_Blanco
    1228
Name: count, dtype: int64



Columna: ap13a_No_disponible
Tipo: objeto
  Categorías más frecuentes:
  ap13a_No_disponible
    1228
Name: count, dtype: int64



Columna: ap13a_No_selecciona
Tipo: objeto
  Más de 20 categorías (1181), no se listan.



Columna: ap13a_Selecciona
Tipo: objeto
  Más de 20 categorías (1226), no se listan.



Columna: ap13b_Blanco
Tipo: objeto
  Categorías más frecuentes:
  ap13b_Blanco
    1228
Name: count, dtype: int64



Columna: ap13b_No_disponible
Tipo: objeto
  Categorías más frecuentes:
  ap13b_No_disponible
    1228
Name: count, dtype: int64



Columna: ap13b_No_selecciona
Tipo: objeto
  Más de 20 categorías (1218), no se listan.



Columna: ap13b_Selecciona
Tipo: objeto
  Más de 20 categorías (1225), no se listan.



Columna: ap13c_Blanco
Tipo: objeto
  Categorías más frecuentes:
  ap13c_Blanco
    1228
Name: count, dtype: int64



Columna: ap13c_No_disponible
Tipo: objeto
  Categorías más frecuentes:
  ap13c_No_disponible
    1228
Name: count, dtype: int64



Columna: ap13c_No_selecciona
Tipo: objeto
  Más de 20 categorías (1226), no se listan.



Columna: ap13c_Selecciona
Tipo: objeto
  Más de 20 categorías (1165), no se listan.



Columna: ap13d_Blanco
Tipo: objeto
  Categorías más frecuentes:
  ap13d_Blanco
    1228
Name: count, dtype: int64



Columna: ap13d_No_disponible
Tipo: objeto
  Categorías más frecuentes:
  ap13d_No_disponible
    1228
Name: count, dtype: int64



Columna: ap13d_No_selecciona
Tipo: objeto
  Más de 20 categorías (1226), no se listan.



Columna: ap13d_Selecciona
Tipo: objeto
  Más de 20 categorías (908), no se listan.



Columna: ap13e_Blanco
Tipo: objeto
  Categorías más frecuentes:
  ap13e_Blanco
    1228
Name: count, dtype: int64



Columna: ap13e_No_disponible
Tipo: objeto
  Categorías más frecuentes:
  ap13e_No_disponible
    1228
Name: count, dtype: int64



Columna: ap13e_No_selecciona
Tipo: objeto
  Más de 20 categorías (1220), no se listan.



Columna: ap13e_Selecciona
Tipo: objeto
  Más de 20 categorías (1224), no se listan.



Columna: ap13f_Blanco
Tipo: objeto
  Categorías más frecuentes:
  ap13f_Blanco
    1228
Name: count, dtype: int64



Columna: ap13f_No_disponible
Tipo: objeto
  Categorías más frecuentes:
  ap13f_No_disponible
    1228
Name: count, dtype: int64



Columna: ap13f_No_selecciona
Tipo: objeto
  Más de 20 categorías (1225), no se listan.



Columna: ap13f_Selecciona
Tipo: objeto
  Más de 20 categorías (1018), no se listan.



Columna: ap13g_Blanco
Tipo: objeto
  Categorías más frecuentes:
  ap13g_Blanco
    1228
Name: count, dtype: int64



Columna: ap13g_No_disponible
Tipo: objeto
  Categorías más frecuentes:
  ap13g_No_disponible
    1228
Name: count, dtype: int64



Columna: ap13g_No_selecciona
Tipo: objeto
  Más de 20 categorías (1227), no se listan.



Columna: ap13g_Selecciona
Tipo: objeto
  Más de 20 categorías (1137), no se listan.



Columna: ap13h_Blanco
Tipo: objeto
  Categorías más frecuentes:
  ap13h_Blanco
    1228
Name: count, dtype: int64



Columna: ap13h_No_disponible
Tipo: objeto
  Categorías más frecuentes:
  ap13h_No_disponible
    1228
Name: count, dtype: int64



Columna: ap13h_No_selecciona
Tipo: objeto
  Más de 20 categorías (1228), no se listan.



Columna: ap13h_Selecciona
Tipo: objeto
  Más de 20 categorías (1014), no se listan.



Columna: ap13i_Blanco
Tipo: objeto
  Categorías más frecuentes:
  ap13i_Blanco
    1228
Name: count, dtype: int64



Columna: ap13i_No_disponible
Tipo: objeto
  Categorías más frecuentes:
  ap13i_No_disponible
    1228
Name: count, dtype: int64



Columna: ap13i_No_selecciona
Tipo: objeto
  Más de 20 categorías (1226), no se listan.



Columna: ap13i_Selecciona
Tipo: objeto
  Más de 20 categorías (629), no se listan.



Columna: ap13j_Blanco
Tipo: objeto
  Categorías más frecuentes:
  ap13j_Blanco
    1228
Name: count, dtype: int64



Columna: ap13j_No_disponible
Tipo: objeto
  Categorías más frecuentes:
  ap13j_No_disponible
    1228
Name: count, dtype: int64



Columna: ap13j_No_selecciona
Tipo: objeto
  Más de 20 categorías (1228), no se listan.



Columna: ap13j_Selecciona
Tipo: objeto
  Más de 20 categorías (1039), no se listan.



Columna: ap14_Blanco
Tipo: objeto
  Categorías más frecuentes:
  ap14_Blanco
    1228
Name: count, dtype: int64



Columna: ap14_No_disponible
Tipo: objeto
  Categorías más frecuentes:
  ap14_No_disponible
    1228
Name: count, dtype: int64



Columna: ap14_Multimarca
Tipo: objeto
  Categorías más frecuentes:
  ap14_Multimarca
    1228
Name: count, dtype: int64



Columna: ap14_Sí
Tipo: objeto
  Más de 20 categorías (938), no se listan.



Columna: ap14_No
Tipo: objeto
  Más de 20 categorías (1225), no se listan.



Columna: ap15_Blanco
Tipo: objeto
  Categorías más frecuentes:
  ap15_Blanco
    1228
Name: count, dtype: int64



Columna: ap15_No_disponible
Tipo: objeto
  Categorías más frecuentes:
  ap15_No_disponible
    1228
Name: count, dtype: int64



Columna: ap15_Multimarca
Tipo: objeto
  Categorías más frecuentes:
  ap15_Multimarca
    1228
Name: count, dtype: int64



Columna: ap15_Sí
Tipo: objeto
  Más de 20 categorías (1227), no se listan.



Columna: ap15_No
Tipo: objeto
  Más de 20 categorías (1181), no se listan.



Columna: ap16a_Blanco
Tipo: objeto
  Categorías más frecuentes:
  ap16a_Blanco
    1228
Name: count, dtype: int64



Columna: ap16a_No_disponible
Tipo: objeto
  Categorías más frecuentes:
  ap16a_No_disponible
    1228
Name: count, dtype: int64



Columna: ap16a_Multimarca
Tipo: objeto
  Categorías más frecuentes:
  ap16a_Multimarca
    1228
Name: count, dtype: int64



Columna: ap16a_Sí
Tipo: objeto
  Más de 20 categorías (1223), no se listan.



Columna: ap16a_No
Tipo: objeto
  Más de 20 categorías (1208), no se listan.



Columna: ap16b_Blanco
Tipo: objeto
  Categorías más frecuentes:
  ap16b_Blanco
    1228
Name: count, dtype: int64



Columna: ap16b_No_disponible
Tipo: objeto
  Categorías más frecuentes:
  ap16b_No_disponible
    1228
Name: count, dtype: int64



Columna: ap16b_Multimarca
Tipo: objeto
  Categorías más frecuentes:
  ap16b_Multimarca
    1228
Name: count, dtype: int64



Columna: ap16b_Sí
Tipo: objeto
  Más de 20 categorías (1225), no se listan.



Columna: ap16b_No
Tipo: objeto
  Más de 20 categorías (1093), no se listan.



Columna: ap16c_Blanco
Tipo: objeto
  Categorías más frecuentes:
  ap16c_Blanco
    1228
Name: count, dtype: int64



Columna: ap16c_No_disponible
Tipo: objeto
  Categorías más frecuentes:
  ap16c_No_disponible
    1228
Name: count, dtype: int64



Columna: ap16c_Multimarca
Tipo: objeto
  Categorías más frecuentes:
  ap16c_Multimarca
    1228
Name: count, dtype: int64



Columna: ap16c_Sí
Tipo: objeto
  Más de 20 categorías (1227), no se listan.



Columna: ap16c_No
Tipo: objeto
  Más de 20 categorías (1039), no se listan.



Columna: ap16d_Blanco
Tipo: objeto
  Categorías más frecuentes:
  ap16d_Blanco
    1228
Name: count, dtype: int64



Columna: ap16d_No_disponible
Tipo: objeto
  Categorías más frecuentes:
  ap16d_No_disponible
    1228
Name: count, dtype: int64



Columna: ap16d_Multimarca
Tipo: objeto
  Categorías más frecuentes:
  ap16d_Multimarca
    1228
Name: count, dtype: int64



Columna: ap16d_Sí
Tipo: objeto
  Más de 20 categorías (1227), no se listan.



Columna: ap16d_No
Tipo: objeto
  Más de 20 categorías (974), no se listan.



Columna: ap16e_Blanco
Tipo: objeto
  Categorías más frecuentes:
  ap16e_Blanco
    1228
Name: count, dtype: int64



Columna: ap16e_No_disponible
Tipo: objeto
  Categorías más frecuentes:
  ap16e_No_disponible
    1228
Name: count, dtype: int64



Columna: ap16e_Multimarca
Tipo: objeto
  Categorías más frecuentes:
  ap16e_Multimarca
    1228
Name: count, dtype: int64



Columna: ap16e_Sí
Tipo: objeto
  Más de 20 categorías (1228), no se listan.



Columna: ap16e_No
Tipo: objeto
  Más de 20 categorías (991), no se listan.



Columna: ap16f_Blanco
Tipo: objeto
  Categorías más frecuentes:
  ap16f_Blanco
    1228
Name: count, dtype: int64



Columna: ap16f_No_disponible
Tipo: objeto
  Categorías más frecuentes:
  ap16f_No_disponible
    1228
Name: count, dtype: int64



Columna: ap16f_Multimarca
Tipo: objeto
  Categorías más frecuentes:
  ap16f_Multimarca
    1228
Name: count, dtype: int64



Columna: ap16f_Sí
Tipo: objeto
  Más de 20 categorías (1226), no se listan.



Columna: ap16f_No
Tipo: objeto
  Más de 20 categorías (910), no se listan.



Columna: ap16g_Blanco
Tipo: objeto
  Categorías más frecuentes:
  ap16g_Blanco
    1228
Name: count, dtype: int64



Columna: ap16g_No_disponible
Tipo: objeto
  Categorías más frecuentes:
  ap16g_No_disponible
    1228
Name: count, dtype: int64



Columna: ap16g_Multimarca
Tipo: objeto
  Categorías más frecuentes:
  ap16g_Multimarca
    1228