# Unificacion de los datos

Se procede a unificar los datos de los csv 

para ello, hay unas columnas que tendran que ser renombradas

# Edades

las edades van a ser agrupadas para los mismas categorias 

para 2019 en el año 2003 tenian 16 años, va a sera renombrada a 2008 para ser 16 años en 2024

In [174]:
# Import librerias
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [175]:
ruta_archivo_2019 = "../data/processed/2019_Ap_56final.csv"
ruta_archivo_2019_2 = "../data/processed/2019_Ap_56final_2.csv"
ruta_archivo_2022_2 = "../data/processed/2022_Ap_56final_2.csv"
ruta_archivo_2024 = "../data/processed/2024_Ap_56final.csv"
ruta_archivo_renombre = "../data/processed/Renombre.csv"

In [176]:
df1 = pd.read_csv(ruta_archivo_2019, sep=',', decimal=".", low_memory=False)
df2 = pd.read_csv(ruta_archivo_2022, sep=',', decimal=".", low_memory=False)
dfrenombre = pd.read_csv(ruta_archivo_renombre, sep=',', decimal=".", low_memory=False)

In [177]:
def guardar_df(df: pd.DataFrame, ruta: str):
    """
    Guarda un DataFrame en un archivo CSV en la ruta indicada.

    Parámetros:
    df (pd.DataFrame): DataFrame a guardar.
    ruta (str): Ruta completa del archivo donde se guardará el CSV.
    """
    try:
        df.to_csv(ruta, index=False, encoding='utf-8')
        print(f"Archivo guardado exitosamente en: {ruta}")
    except Exception as e:
        print(f"Error al guardar el archivo: {e}")

In [178]:
df1.head()

,ap01_01_Blanco,ap01_01_No_disponible,ap01_01_Multimarca,ap01_01_No_Corresponde,ap01_01_Enero,ap01_01_Febrero,ap01_01_Marzo,ap01_01_Abril,ap01_01_Mayo,ap01_01_Junio,...,mdesemp_Satisfactorio,mdesemp_Avanzado,ldesemp_Avanzado,ldesemp_Por_debajo_del_nivel_básico,ldesemp_Básico,ldesemp_Satisfactorio,lat,lon,sector_binario,ambito_binario
0,38.100103,0.000000,7.106572,0.0,124.258442,127.471704,124.401839,127.723429,106.790121,129.026481,...,501.687133,230.992331,434.734796,329.761717,256.174319,612.420663,-34.609558,-58.388790,1,1
1,12.823730,9.769051,1.917169,0.0,109.102072,108.551388,99.718282,127.275887,125.298866,129.640379,...,590.619286,302.177951,553.412811,101.720018,139.053569,587.772806,-34.609558,-58.388790,0,1
2,10.834863,1.979891,0.000000,0.0,74.520555,85.707571,101.649904,54.799012,60.765202,76.470780,...,385.263801,61.093518,176.431993,116.290074,174.814780,428.465844,-34.627458,-58.503098,1,1
3,15.528509,2.450926,1.604042,0.0,104.881607,103.273864,89.211479,156.139603,75.809453,79.649385,...,620.876357,82.528744,378.052771,86.016384,154.661004,563.029198,-34.627458,-58.503098,0,1
4,4.037436,2.322993,0.000000,0.0,48.054819,40.722596,42.911736,63.165032,70.551349,48.007761,...,209.683760,13.211296,110.159428,96.242425,122.404094,308.268201,-34.603006,-58.500717,1,1

In [179]:
dfrenombre.head()

       Columnas 2019   Renombre_2019 Columnas_2022 Renombre_2022
0      ap01_01_Abril      ap01_Abril     ap02_2001     ap02_2003
1     ap01_01_Agosto     ap01_Agosto     ap02_2002     ap02_2004
2     ap01_01_Blanco     ap01_Blanco     ap02_2003     ap02_2005
3  ap01_01_Diciembre  ap01_Diciembre     ap02_2004     ap02_2006
4      ap01_01_Enero      ap01_Enero     ap02_2005     ap02_2007

# 2019 

* Algunas variables estan agrupadas de distinta manera:

*

In [180]:
paises = ['ap04_Bolivia',
#'ap04_Brasil',
'ap04_Chile',
'ap04_Colombia',
'ap04_México',
'ap04_Otro_país_de_América',
'ap04_Paraguay',
'ap04_País_de_Asia',
'ap04_País_de_Europa',
'ap04_País_de_Oceanía',
'ap04_País_de_África',
'ap04_Perú',
'ap04_Uruguay',
'ap04_Venezuela']
df1['ap05a_En_otro_país_que_no_es_Argentina'] = df1['ap04_Brasil'].copy()

for i in paises:
    df1['ap05a_En_otro_país_que_no_es_Argentina'] = df1['ap05a_En_otro_país_que_no_es_Argentina']+ df1[i]

df1['ap05a_En_otro_país_que_no_es_Argentina'].head()

0    534.316011
1    228.002035
2    260.588263
3    104.034910
4    129.093505
Name: ap05a_En_otro_país_que_no_es_Argentina, dtype: float64

In [181]:
paises = ['ap05_Bolivia',
#'ap05_Brasil',
'ap05_Chile',
'ap05_Colombia',
'ap05_México',
'ap05_Otro_país_de_América',
'ap05_Paraguay',
'ap05_País_de_Asia',
'ap05_País_de_Europa',
'ap05_País_de_Oceanía',
'ap05_País_de_África',
'ap05_Perú',
'ap05_Uruguay',
'ap05_Venezuela']
df1['ap05b_En_otro_país_que_no_es_Argentina'] = df1['ap05_Brasil'].copy()
for i in paises:
    df1['ap05b_En_otro_país_que_no_es_Argentina'] = df1['ap05b_En_otro_país_que_no_es_Argentina'] + df1[i]

df1['ap05b_En_otro_país_que_no_es_Argentina'].head()

0    489.094125
1    205.086703
2    248.108718
3    111.433751
4    116.874368
Name: ap05b_En_otro_país_que_no_es_Argentina, dtype: float64

In [182]:
mapping = dict(zip(dfrenombre['Columnas 2019'], dfrenombre['Renombre_2019']))

# Paso 1: renombrar todo con un sufijo temporal
temp_mapping = {k: f"__tmp__{v}" for k, v in mapping.items()}
df1 = df1.rename(columns=temp_mapping)

# Paso 2: remover el prefijo temporal
final_mapping = {f"__tmp__{v}": v for v in mapping.values()}
df1 = df1.rename(columns=final_mapping)

In [183]:
guardar_df(df1, ruta_archivo_2019_2)

Archivo guardado exitosamente en: ../data/processed/2019_Ap_56final_2.csv

In [184]:
df1 = pd.read_csv(ruta_archivo_2019_2, sep=',', decimal=".", low_memory=False)
df2 = pd.read_csv(ruta_archivo_2022, sep=',', decimal=".", low_memory=False)
dfrenombre = pd.read_csv(ruta_archivo_renombre, sep=',', decimal=".", low_memory=False)

In [185]:


df2['ap27_De_15_a_19_faltas'] = df2['ap26_De_10_a_14_inasistencias'].copy() 
df2['ap27_De_15_a_19_faltas'] = df2['ap27_De_15_a_19_faltas'] + df2['ap26_De_15_a_19_inasistencias']

In [186]:
mapping = dict(zip(dfrenombre['Columnas_2022'], dfrenombre['Renombre_2022']))

# Paso 1: renombrar todo con un sufijo temporal
temp_mapping = {k: f"__tmp__{v}" for k, v in mapping.items()}
df2 = df2.rename(columns=temp_mapping)

# Paso 2: remover el prefijo temporal
final_mapping = {f"__tmp__{v}": v for v in mapping.values()}
df2 = df2.rename(columns=final_mapping)

In [187]:
#df2['ap15_Multimarca'].head()

In [188]:
print(df1.columns[df1.columns.duplicated()])

Index([], dtype='object')

In [189]:
df1['ap04_Paraguay'].head()

0    62.383541
1     3.751497
2     4.537571
3     2.147478
4     6.630688
Name: ap04_Paraguay, dtype: float64

In [190]:
guardar_df(df2, ruta_archivo_2022_2)

Archivo guardado exitosamente en: ../data/processed/2022_Ap_56final_2.csv

In [191]:
df1 = pd.read_csv(ruta_archivo_2019_2, sep=',', decimal=".", low_memory=False)
df2 = pd.read_csv(ruta_archivo_2022_2, sep=',', decimal=".", low_memory=False)

# Apertura 2024

se buscan coincidencias y se unifican

In [192]:
df3 = pd.read_csv(ruta_archivo_2024, sep=',', decimal=".", low_memory=False)

In [193]:
# 1. Encontrar columnas comunes a los 3 df
cols_comunes = (
    (set(df1.columns)
    & set(df2.columns))
    & set(df3.columns)
)

print(len(set(df1.columns)))
print(len(set(df2.columns)))
print(len(set(df3.columns)))

print(len(cols_comunes))
#print(cols_comunes)

1408
1228
1032
116

In [194]:
cols_comunes = list(cols_comunes)   # convertir a lista para indexar

# 2. Filtrar cada df a solo columnas comunes
df1_c = df1[cols_comunes].copy()
df2_c = df2[cols_comunes].copy()
df3_c = df3[cols_comunes].copy()

# 3. Concatenar verticalmente
df_final = pd.concat([df1_c, df2_c, df3_c], axis=0, ignore_index=True)

In [195]:

df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3613 entries, 0 to 3612
Columns: 116 entries, Nivel_Ed_Padre_Primaria_completo to ap26_No_disponible
dtypes: float64(114), int64(2)
memory usage: 3.2 MB

In [196]:
for i in df_final.columns:
    print(i)

Nivel_Ed_Padre_Primaria_completo
ap01_Febrero
Nivel_Ed_Madre_Primaria_completo
ap02_Multimarca
lat
ap04_Venezuela
ap03_Masculino
ap10_Blanco
ap02_2007
ap28j_No_disponible
ap04_Bolivia
ap01_Octubre
ap28c_Blanco
lon
ldesemp_Satisfactorio
ap27_De_20_a_29_faltas
ap02_2008
mdesemp_Avanzado
Nivel_Ed_Padre_Multimarca
ap01_Agosto
mdesemp_Satisfactorio
ap19_Más_de_100_libros
ap19_De_51_a_100_libros
ap06_No_disponible
ap01_No_disponible
ap04_En_un_país_de_Asia
ap01_Junio
Nivel_Ed_Madre_No_disponible
ap27_Ninguna_falta
ap19_No_disponible
ap28a_Blanco
ap04_Perú
ap07_No_disponible
ap02_2006
ldesemp_Básico
ap19_No_hay_libros_en_formato_papel
ap28a_Selecciona
ap28a_No_disponible
ap06_Blanco
Nivel_Ed_Madre_Secundaria_completo
ldesemp_Avanzado
ap28d_Selecciona
ap26_Multimarca
ap28e_Blanco
ap19_Blanco
mdesemp_Por_debajo_del_nivel_básico
ambito_binario
ap02_No_disponible
ap04_Chile
Nivel_Ed_Madre_Terciario_universitario_posgrado_incompleto
Nivel_Ed_Madre_Terciario_universitario_posgrado_completo
ap01_Septiembre
ap04_Otro_país_de_América
ap28c_Selecciona
ap02_2004
ap01_Marzo
ap03_Multimarca
mdesemp_Básico
ap28d_No_disponible
ap02_2005
ap01_Diciembre
ap28j_Blanco
Nivel_Ed_Padre_No_disponible
ap02_Blanco
Nivel_Ed_Padre_Secundaria_completo
ap03_No_disponible
Nivel_Ed_Madre_Multimarca
ap04_No_disponible
ap28j_Selecciona
ap27_De_5_a_14_faltas
ap04_Blanco
ap19_De_1_a_5_libros
ap28e_No_disponible
Nivel_Ed_Madre_Blanco
ap27_De_15_a_19_faltas
ap01_Enero
ap07_Blanco
ap01_Mayo
Nivel_Ed_Padre_Terciario_universitario_posgrado_completo
ap03_Femenino
ap01_Blanco
ap04_Paraguay
ap28d_Blanco
sector_binario
ap06_Sí
ap06_Multimarca
ap04_Colombia
ap24_No_disponible
ap02_2003
ap19_Multimarca
ap28e_Selecciona
Nivel_Ed_Padre_Terciario_universitario_posgrado_incompleto
ap24_Blanco
ap04_Argentina
ap03_Blanco
ap28c_No_disponible
ap07_Multimarca
ap04_Multimarca
ap01_Multimarca
ap27_Menos_de_5_faltas
ap01_Julio
ap01_Abril
ldesemp_Por_debajo_del_nivel_básico
ap04_En_un_país_de_Europa
ap10_No_disponible
Nro_Encuestados
ap06_No
sobreedad_2_años_de_sobreedad_19_años_al_30_de_junio
ap04_Brasil
ap26_Blanco
ap10_Multimarca
sobreedad_1_año_de_sobreedad_18_años_al_30_de_junio
ap01_Noviembre
ap04_Uruguay
Nivel_Ed_Padre_Blanco
ap26_No_disponible

In [197]:
def guardar_df(df: pd.DataFrame, ruta: str):
    """
    Guarda un DataFrame en un archivo CSV en la ruta indicada.

    Parámetros:
    df (pd.DataFrame): DataFrame a guardar.
    ruta (str): Ruta completa del archivo donde se guardará el CSV.
    """
    try:
        df.to_csv(ruta, index=False, encoding='utf-8')
        print(f"Archivo guardado exitosamente en: {ruta}")
    except Exception as e:
        print(f"Error al guardar el archivo: {e}")

In [198]:

ruta_archivo_aprender = "../data/processed/final.csv"

In [199]:
guardar_df(df_final, ruta_archivo_aprender)

Archivo guardado exitosamente en: ../data/processed/final.csv