# Unificacion de los datos

Se procede a unificar los datos de los csv 

para ello, hay unas columnas que tendran que ser renombradas

# Edades

las edades van a ser agrupadas para los mismas categorias 

para 2019 en el año 2003 tenian 16 años, va a sera renombrada a 2008 para ser 16 años en 2024

In [1]:
# Import librerias
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [61]:
ruta_archivo_2019 = "../data/processed/2019_Ap_56final.csv"
ruta_archivo_2022 = "../data/processed/2022_Ap_56final.csv"
ruta_archivo_2024 = "../data/processed/2024_Ap_56final.csv"
ruta_archivo_renombre = "../data/processed/Renombre.csv"

In [69]:
df1 = pd.read_csv(ruta_archivo_2019, sep=',', decimal=".", low_memory=False)
df2 = pd.read_csv(ruta_archivo_2022, sep=',', decimal=".", low_memory=False)
dfrenombre = pd.read_csv(ruta_archivo_renombre, sep=',', decimal=".", low_memory=False)

In [6]:
df1.head()

,ap01_01_Blanco,ap01_01_No_disponible,ap01_01_Multimarca,ap01_01_No_Corresponde,ap01_01_Enero,ap01_01_Febrero,ap01_01_Marzo,ap01_01_Abril,ap01_01_Mayo,ap01_01_Junio,...,mdesemp_Satisfactorio,mdesemp_Avanzado,ldesemp_Avanzado,ldesemp_Por_debajo_del_nivel_básico,ldesemp_Básico,ldesemp_Satisfactorio,lat,lon,sector_binario,ambito_binario
0,38.100103,0.000000,7.106572,0.0,124.258442,127.471704,124.401839,127.723429,106.790121,129.026481,...,501.687133,230.992331,434.734796,329.761717,256.174319,612.420663,-34.609558,-58.388790,1,1
1,12.823730,9.769051,1.917169,0.0,109.102072,108.551388,99.718282,127.275887,125.298866,129.640379,...,590.619286,302.177951,553.412811,101.720018,139.053569,587.772806,-34.609558,-58.388790,0,1
2,10.834863,1.979891,0.000000,0.0,74.520555,85.707571,101.649904,54.799012,60.765202,76.470780,...,385.263801,61.093518,176.431993,116.290074,174.814780,428.465844,-34.627458,-58.503098,1,1
3,15.528509,2.450926,1.604042,0.0,104.881607,103.273864,89.211479,156.139603,75.809453,79.649385,...,620.876357,82.528744,378.052771,86.016384,154.661004,563.029198,-34.627458,-58.503098,0,1
4,4.037436,2.322993,0.000000,0.0,48.054819,40.722596,42.911736,63.165032,70.551349,48.007761,...,209.683760,13.211296,110.159428,96.242425,122.404094,308.268201,-34.603006,-58.500717,1,1

In [7]:
dfrenombre.head()

       Columnas 2019   Renombre_2019 Columnas_2022 Renombre_2022
0      ap01_01_Abril      ap01_Abril     ap02_2001     ap02_2003
1     ap01_01_Agosto     ap01_Agosto     ap02_2002     ap02_2004
2     ap01_01_Blanco     ap01_Blanco     ap02_2003     ap02_2005
3  ap01_01_Diciembre  ap01_Diciembre     ap02_2004     ap02_2006
4      ap01_01_Enero      ap01_Enero     ap02_2005     ap02_2007

In [63]:
df1.info()
print(df1.columns[df1.columns.duplicated()])
#df1 = df1.loc[:, ~df1.columns.duplicated()]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1175 entries, 0 to 1174
Columns: 1406 entries, ap01_01_Blanco to ambito_binario
dtypes: float64(1404), int64(2)
memory usage: 12.6 MB
Index([], dtype='object')

In [64]:
df1['ap04_Paraguay'].head()

0    105.989496
1     50.840910
2     21.439314
3     16.233113
4     30.245902
Name: ap04_Paraguay, dtype: float64

In [70]:
from collections import Counter

# tu mapping (ejemplo: dfrenombre tiene 'Columnas 2019' -> 'Renombre_2019')
mapping = dict(zip(dfrenombre['Columnas 2019'], dfrenombre['Renombre_2019']))

# claves del mapping que existen en el dataframe
claves_presentes = set(mapping.keys()) & set(df1.columns)
claves_faltantes = set(mapping.keys()) - set(df1.columns)

print("Claves del mapping presentes en df1:", len(claves_presentes))
print("Claves del mapping NO encontradas en df1:", len(claves_faltantes))
print("Ejemplos faltantes:", list(claves_faltantes)[:10])

# detectar colisiones (varios 'old' que apuntan al mismo 'new')
nv = list(mapping.values())
dups_new = [name for name, c in Counter(nv).items() if c > 1]
print("Nuevos nombres duplicados (colisiones):", dups_new[:20])

# para cada nuevo nombre duplicado, mostrar las columnas antiguas que colisionan
from collections import defaultdict
colisiones = defaultdict(list)
for old, new in mapping.items():
    if new in dups_new:
        colisiones[new].append(old)

for new, olds in colisiones.items():
    print(f"{new}: {olds}")

Claves del mapping presentes en df1: 81
Claves del mapping NO encontradas en df1: 0
Ejemplos faltantes: []
Nuevos nombres duplicados (colisiones): []

In [71]:
from collections import Counter

# tu mapping (ejemplo: dfrenombre tiene 'Columnas 2019' -> 'Renombre_2019')
mapping = dict(zip(dfrenombre['Columnas_2022'], dfrenombre['Renombre_2022']))

# claves del mapping que existen en el dataframe
claves_presentes = set(mapping.keys()) & set(df2.columns)
claves_faltantes = set(mapping.keys()) - set(df2.columns)

print("Claves del mapping presentes en df1:", len(claves_presentes))
print("Claves del mapping NO encontradas en df1:", len(claves_faltantes))
print("Ejemplos faltantes:", list(claves_faltantes)[:10])

# detectar colisiones (varios 'old' que apuntan al mismo 'new')
nv = list(mapping.values())
dups_new = [name for name, c in Counter(nv).items() if c > 1]
print("Nuevos nombres duplicados (colisiones):", dups_new[:20])

# para cada nuevo nombre duplicado, mostrar las columnas antiguas que colisionan
from collections import defaultdict
colisiones = defaultdict(list)
for old, new in mapping.items():
    if new in dups_new:
        colisiones[new].append(old)

for new, olds in colisiones.items():
    print(f"{new}: {olds}")

Claves del mapping presentes en df1: 52
Claves del mapping NO encontradas en df1: 1
Ejemplos faltantes: [nan]
Nuevos nombres duplicados (colisiones): []

In [58]:
# df_map tiene columnas: 'old' y 'new'
#mapping = dict(zip(dfrenombre['Columnas 2019'], dfrenombre['Renombre_2019']))

#df1 = df1.rename(columns=mapping)

In [59]:
print(df1.columns[df1.columns.duplicated()])

Index(['ap04_Bolivia', 'ap04_Brasil', 'ap04_Chile', 'ap04_Paraguay',
       'ap04_Uruguay', 'ap04_Colombia', 'ap04_Venezuela', 'ap04_México',
       'ap19_Blanco', 'ap19_No_disponible', 'ap19_Multimarca'],
      dtype='object')

In [60]:
df1['ap04_Paraguay'].head()

   ap04_Paraguay  ap04_Paraguay
0      62.383541     105.989496
1       3.751497      50.840910
2       4.537571      21.439314
3       2.147478      16.233113
4       6.630688      30.245902

In [49]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1175 entries, 0 to 1174
Columns: 1406 entries, ap01_Blanco to ambito_binario
dtypes: float64(1404), int64(2)
memory usage: 12.6 MB

In [10]:
df1.head()

,ap01_Blanco,ap01_No_disponible,ap01_Multimarca,ap01_01_No_Corresponde,ap01_Enero,ap01_Febrero,ap01_Marzo,ap01_Abril,ap01_Mayo,ap01_Junio,...,mdesemp_Satisfactorio,mdesemp_Avanzado,ldesemp_Avanzado,ldesemp_Por_debajo_del_nivel_básico,ldesemp_Básico,ldesemp_Satisfactorio,lat,lon,sector_binario,ambito_binario
0,38.100103,0.000000,7.106572,0.0,124.258442,127.471704,124.401839,127.723429,106.790121,129.026481,...,501.687133,230.992331,434.734796,329.761717,256.174319,612.420663,-34.609558,-58.388790,1,1
1,12.823730,9.769051,1.917169,0.0,109.102072,108.551388,99.718282,127.275887,125.298866,129.640379,...,590.619286,302.177951,553.412811,101.720018,139.053569,587.772806,-34.609558,-58.388790,0,1
2,10.834863,1.979891,0.000000,0.0,74.520555,85.707571,101.649904,54.799012,60.765202,76.470780,...,385.263801,61.093518,176.431993,116.290074,174.814780,428.465844,-34.627458,-58.503098,1,1
3,15.528509,2.450926,1.604042,0.0,104.881607,103.273864,89.211479,156.139603,75.809453,79.649385,...,620.876357,82.528744,378.052771,86.016384,154.661004,563.029198,-34.627458,-58.503098,0,1
4,4.037436,2.322993,0.000000,0.0,48.054819,40.722596,42.911736,63.165032,70.551349,48.007761,...,209.683760,13.211296,110.159428,96.242425,122.404094,308.268201,-34.603006,-58.500717,1,1

In [28]:
# df_map tiene columnas: 'old' y 'new'
mapping = dict(zip(dfrenombre['Columnas_2022'], dfrenombre['Renombre_2022']))

df2 = df2.rename(columns=mapping)

In [13]:
df2.head()

,ap01_Blanco,ap01_No_disponible,ap01_Multimarca,ap01_Enero,ap01_Febrero,ap01_Marzo,ap01_Abril,ap01_Mayo,ap01_Junio,ap01_Julio,...,mdesemp_Satisfactorio,mdesemp_Avanzado,ldesemp_Avanzado,ldesemp_Por_debajo_del_nivel_básico,ldesemp_Básico,ldesemp_Satisfactorio,lat,lon,sector_binario,ambito_binario
0,0.0,0.0,0.0,155.134546,186.110023,126.563421,119.860626,118.699505,140.588759,117.011616,...,742.851334,0.0,517.486898,323.857102,205.340149,788.575692,-34.609558,-58.388790,1,1
1,0.0,0.0,0.0,116.341695,99.701348,122.540622,115.699693,112.186181,104.751604,104.782093,...,620.958558,0.0,460.253807,148.603691,177.574579,568.431026,-34.609558,-58.388790,0,1
2,0.0,0.0,0.0,77.233060,92.706120,111.576822,70.657364,87.013765,80.989695,57.039804,...,386.717992,0.0,265.014924,139.785962,117.102827,451.855411,-34.627458,-58.503098,1,1
3,0.0,0.0,0.0,110.533926,98.205883,123.551210,104.370767,100.433392,112.783954,92.430047,...,535.991337,0.0,382.573674,159.216819,164.785306,645.497431,-34.627458,-58.503098,0,1
4,0.0,0.0,0.0,43.863310,56.260218,69.804301,57.455074,75.770319,51.791603,52.100756,...,200.387236,0.0,128.747022,159.700324,110.743366,322.707647,-34.603006,-58.500717,1,1

In [72]:
df3 = pd.read_csv(ruta_archivo_2024, sep=',', decimal=".", low_memory=False)

In [75]:
print(len(set(df1.columns)))
print(len(set(df2.columns)))
print(len(set(df3.columns)))

print(len(cols_comunes))
#print(cols_comunes)

1406
1227
1032
90

In [76]:
print(df1.columns[df1.columns.duplicated()])
print(df2.columns[df2.columns.duplicated()])
print(df3.columns[df3.columns.duplicated()])

Index([], dtype='object')
Index([], dtype='object')
Index([], dtype='object')

In [78]:
# 1. Encontrar columnas comunes a los 3 df
cols_comunes = (
    (set(df1.columns)
    & set(df2.columns))
    & set(df3.columns)
)

cols_comunes = list(cols_comunes)   # convertir a lista para indexar

# 2. Filtrar cada df a solo columnas comunes
df1_c = df1[cols_comunes].copy()
df2_c = df2[cols_comunes].copy()
df3_c = df3[cols_comunes].copy()

# 3. Concatenar verticalmente
df_final = pd.concat([df1_c, df2_c, df3_c], axis=0, ignore_index=True)

In [79]:

df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3613 entries, 0 to 3612
Data columns (total 52 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   ap10_Multimarca                                       3613 non-null   float64
 1   ap04_Blanco                                           3613 non-null   float64
 2   ap06_No                                               3613 non-null   float64
 3   ap10_Blanco                                           3613 non-null   float64
 4   ldesemp_Satisfactorio                                 3613 non-null   float64
 5   ap02_Blanco                                           3613 non-null   float64
 6   ap26_Blanco                                           3613 non-null   float64
 7   ap07_Blanco                                           3613 non-null   float64
 8   ap06_Blanco                                           3613 non-null   float64
 9   ap04_Colombia                                         3613 non-null   float64
 10  ap15_Multimarca                                       3613 non-null   float64
 11  ap04_Venezuela                                        3613 non-null   float64
 12  ap04_Bolivia                                          3613 non-null   float64
 13  mdesemp_Avanzado                                      3613 non-null   float64
 14  Nro_Encuestados                                       3613 non-null   float64
 15  ap04_Chile                                            3613 non-null   float64
 16  ambito_binario                                        3613 non-null   int64
 17  ap24_No_disponible                                    3613 non-null   float64
 18  sector_binario                                        3613 non-null   int64
 19  ap03_Blanco                                           3613 non-null   float64
 20  ldesemp_Básico                                        3613 non-null   float64
 21  ap15_No_disponible                                    3613 non-null   float64
 22  ap07_Multimarca                                       3613 non-null   float64
 23  lon                                                   3613 non-null   float64
 24  ap02_No_disponible                                    3613 non-null   float64
 25  ap04_Otro_país_de_América                             3613 non-null   float64
 26  mdesemp_Por_debajo_del_nivel_básico                   3613 non-null   float64
 27  sobreedad_1_año_de_sobreedad_18_años_al_30_de_junio   3613 non-null   float64
 28  ap04_Perú                                             3613 non-null   float64
 29  ap07_No_disponible                                    3613 non-null   float64
 30  ap04_Brasil                                           3613 non-null   float64
 31  ap06_Multimarca                                       3613 non-null   float64
 32  ap04_No_disponible                                    3613 non-null   float64
 33  sobreedad_2_años_de_sobreedad_19_años_al_30_de_junio  3613 non-null   float64
 34  ap02_Multimarca                                       3613 non-null   float64
 35  ap04_Paraguay                                         3613 non-null   float64
 36  ap06_No_disponible                                    3613 non-null   float64
 37  ap03_Multimarca                                       3613 non-null   float64
 38  mdesemp_Satisfactorio                                 3613 non-null   float64
 39  ap04_Argentina                                        3613 non-null   float64
 40  ap26_Multimarca                                       3613 non-null   float64
 41  ldesemp_Por_debajo_del_nivel_básico                   3613 non-null   float64
 42  ap10_No_disponible                                    3613 non-null   float64
 43  ap26_No_disponible                                    3613 non-null   float64
 44  ap04_Uruguay                                          3613 non-null   float64
 45  ldesemp_Avanzado                                      3613 non-null   float64
 46  mdesemp_Básico                                        3613 non-null   float64
 47  ap15_Blanco                                           3613 non-null   float64
 48  lat                                                   3613 non-null   float64
 49  ap03_No_disponible                                    3613 non-null   float64
 50  ap24_Blanco                                           3613 non-null   float64
 51  ap04_Multimarca                                       3613 non-null   float64
dtypes: float64(50), int64(2)
memory usage: 1.4 MB

In [80]:
def guardar_df(df: pd.DataFrame, ruta: str):
    """
    Guarda un DataFrame en un archivo CSV en la ruta indicada.

    Parámetros:
    df (pd.DataFrame): DataFrame a guardar.
    ruta (str): Ruta completa del archivo donde se guardará el CSV.
    """
    try:
        df.to_csv(ruta, index=False, encoding='utf-8')
        print(f"Archivo guardado exitosamente en: {ruta}")
    except Exception as e:
        print(f"Error al guardar el archivo: {e}")

In [ ]:

ruta_archivo_aprender = "../data/processed/final.csv"