# Unificacion de los datos

Se procede a unificar los datos de los csv 

para ello, hay unas columnas que tendran que ser renombradas

# Edades

las edades van a ser agrupadas para los mismas categorias 

para 2019 en el año 2003 tenian 16 años, va a sera renombrada a 2008 para ser 16 años en 2024

In [1]:
# Import librerias
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [61]:
ruta_archivo_2019 = "../data/processed/2019_Ap_56final.csv"
ruta_archivo_2022 = "../data/processed/2022_Ap_56final.csv"
ruta_archivo_2024 = "../data/processed/2024_Ap_56final.csv"
ruta_archivo_renombre = "../data/processed/Renombre.csv"

In [62]:
df1 = pd.read_csv(ruta_archivo_2019, sep=',', decimal=".", low_memory=False)
df2 = pd.read_csv(ruta_archivo_2022, sep=',', decimal=".", low_memory=False)
dfrenombre = pd.read_csv(ruta_archivo_renombre, sep=',', decimal=".", low_memory=False)

In [6]:
df1.head()

,ap01_01_Blanco,ap01_01_No_disponible,ap01_01_Multimarca,ap01_01_No_Corresponde,ap01_01_Enero,ap01_01_Febrero,ap01_01_Marzo,ap01_01_Abril,ap01_01_Mayo,ap01_01_Junio,...,mdesemp_Satisfactorio,mdesemp_Avanzado,ldesemp_Avanzado,ldesemp_Por_debajo_del_nivel_básico,ldesemp_Básico,ldesemp_Satisfactorio,lat,lon,sector_binario,ambito_binario
0,38.100103,0.000000,7.106572,0.0,124.258442,127.471704,124.401839,127.723429,106.790121,129.026481,...,501.687133,230.992331,434.734796,329.761717,256.174319,612.420663,-34.609558,-58.388790,1,1
1,12.823730,9.769051,1.917169,0.0,109.102072,108.551388,99.718282,127.275887,125.298866,129.640379,...,590.619286,302.177951,553.412811,101.720018,139.053569,587.772806,-34.609558,-58.388790,0,1
2,10.834863,1.979891,0.000000,0.0,74.520555,85.707571,101.649904,54.799012,60.765202,76.470780,...,385.263801,61.093518,176.431993,116.290074,174.814780,428.465844,-34.627458,-58.503098,1,1
3,15.528509,2.450926,1.604042,0.0,104.881607,103.273864,89.211479,156.139603,75.809453,79.649385,...,620.876357,82.528744,378.052771,86.016384,154.661004,563.029198,-34.627458,-58.503098,0,1
4,4.037436,2.322993,0.000000,0.0,48.054819,40.722596,42.911736,63.165032,70.551349,48.007761,...,209.683760,13.211296,110.159428,96.242425,122.404094,308.268201,-34.603006,-58.500717,1,1

In [7]:
dfrenombre.head()

       Columnas 2019   Renombre_2019 Columnas_2022 Renombre_2022
0      ap01_01_Abril      ap01_Abril     ap02_2001     ap02_2003
1     ap01_01_Agosto     ap01_Agosto     ap02_2002     ap02_2004
2     ap01_01_Blanco     ap01_Blanco     ap02_2003     ap02_2005
3  ap01_01_Diciembre  ap01_Diciembre     ap02_2004     ap02_2006
4      ap01_01_Enero      ap01_Enero     ap02_2005     ap02_2007

In [63]:
df1.info()
print(df1.columns[df1.columns.duplicated()])
#df1 = df1.loc[:, ~df1.columns.duplicated()]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1175 entries, 0 to 1174
Columns: 1406 entries, ap01_01_Blanco to ambito_binario
dtypes: float64(1404), int64(2)
memory usage: 12.6 MB
Index([], dtype='object')

In [64]:
df1['ap04_Paraguay'].head()

0    105.989496
1     50.840910
2     21.439314
3     16.233113
4     30.245902
Name: ap04_Paraguay, dtype: float64

In [58]:
# df_map tiene columnas: 'old' y 'new'
mapping = dict(zip(dfrenombre['Columnas 2019'], dfrenombre['Renombre_2019']))

df1 = df1.rename(columns=mapping)

In [59]:
print(df1.columns[df1.columns.duplicated()])

Index(['ap04_Bolivia', 'ap04_Brasil', 'ap04_Chile', 'ap04_Paraguay',
       'ap04_Uruguay', 'ap04_Colombia', 'ap04_Venezuela', 'ap04_México',
       'ap19_Blanco', 'ap19_No_disponible', 'ap19_Multimarca'],
      dtype='object')

In [60]:
df1['ap04_Paraguay'].head()

   ap04_Paraguay  ap04_Paraguay
0      62.383541     105.989496
1       3.751497      50.840910
2       4.537571      21.439314
3       2.147478      16.233113
4       6.630688      30.245902

In [49]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1175 entries, 0 to 1174
Columns: 1406 entries, ap01_Blanco to ambito_binario
dtypes: float64(1404), int64(2)
memory usage: 12.6 MB

In [10]:
df1.head()

,ap01_Blanco,ap01_No_disponible,ap01_Multimarca,ap01_01_No_Corresponde,ap01_Enero,ap01_Febrero,ap01_Marzo,ap01_Abril,ap01_Mayo,ap01_Junio,...,mdesemp_Satisfactorio,mdesemp_Avanzado,ldesemp_Avanzado,ldesemp_Por_debajo_del_nivel_básico,ldesemp_Básico,ldesemp_Satisfactorio,lat,lon,sector_binario,ambito_binario
0,38.100103,0.000000,7.106572,0.0,124.258442,127.471704,124.401839,127.723429,106.790121,129.026481,...,501.687133,230.992331,434.734796,329.761717,256.174319,612.420663,-34.609558,-58.388790,1,1
1,12.823730,9.769051,1.917169,0.0,109.102072,108.551388,99.718282,127.275887,125.298866,129.640379,...,590.619286,302.177951,553.412811,101.720018,139.053569,587.772806,-34.609558,-58.388790,0,1
2,10.834863,1.979891,0.000000,0.0,74.520555,85.707571,101.649904,54.799012,60.765202,76.470780,...,385.263801,61.093518,176.431993,116.290074,174.814780,428.465844,-34.627458,-58.503098,1,1
3,15.528509,2.450926,1.604042,0.0,104.881607,103.273864,89.211479,156.139603,75.809453,79.649385,...,620.876357,82.528744,378.052771,86.016384,154.661004,563.029198,-34.627458,-58.503098,0,1
4,4.037436,2.322993,0.000000,0.0,48.054819,40.722596,42.911736,63.165032,70.551349,48.007761,...,209.683760,13.211296,110.159428,96.242425,122.404094,308.268201,-34.603006,-58.500717,1,1

In [28]:
# df_map tiene columnas: 'old' y 'new'
mapping = dict(zip(dfrenombre['Columnas_2022'], dfrenombre['Renombre_2022']))

df2 = df2.rename(columns=mapping)

In [13]:
df2.head()

,ap01_Blanco,ap01_No_disponible,ap01_Multimarca,ap01_Enero,ap01_Febrero,ap01_Marzo,ap01_Abril,ap01_Mayo,ap01_Junio,ap01_Julio,...,mdesemp_Satisfactorio,mdesemp_Avanzado,ldesemp_Avanzado,ldesemp_Por_debajo_del_nivel_básico,ldesemp_Básico,ldesemp_Satisfactorio,lat,lon,sector_binario,ambito_binario
0,0.0,0.0,0.0,155.134546,186.110023,126.563421,119.860626,118.699505,140.588759,117.011616,...,742.851334,0.0,517.486898,323.857102,205.340149,788.575692,-34.609558,-58.388790,1,1
1,0.0,0.0,0.0,116.341695,99.701348,122.540622,115.699693,112.186181,104.751604,104.782093,...,620.958558,0.0,460.253807,148.603691,177.574579,568.431026,-34.609558,-58.388790,0,1
2,0.0,0.0,0.0,77.233060,92.706120,111.576822,70.657364,87.013765,80.989695,57.039804,...,386.717992,0.0,265.014924,139.785962,117.102827,451.855411,-34.627458,-58.503098,1,1
3,0.0,0.0,0.0,110.533926,98.205883,123.551210,104.370767,100.433392,112.783954,92.430047,...,535.991337,0.0,382.573674,159.216819,164.785306,645.497431,-34.627458,-58.503098,0,1
4,0.0,0.0,0.0,43.863310,56.260218,69.804301,57.455074,75.770319,51.791603,52.100756,...,200.387236,0.0,128.747022,159.700324,110.743366,322.707647,-34.603006,-58.500717,1,1

In [29]:
df3 = pd.read_csv(ruta_archivo_2024, sep=',', decimal=".", low_memory=False)

In [43]:
print(len(set(df1_f.columns)))
print(len(set(df2_f.columns)))
print(len(set(df3_f.columns)))

print(len(cols_comunes))
print(cols_comunes)

90
90
90
90
['Nivel_Ed_Madre_Secundaria_completo', 'ap01_Multimarca', 'ap02_Blanco', 'ap19_De_1_a_5_libros', 'ap07_Blanco', 'ap01_Mayo', 'ap01_Febrero', 'ap02_2003', 'ap07_Multimarca', 'sobreedad_1_año_de_sobreedad_18_años_al_30_de_junio', 'ap04_Perú', 'Nivel_Ed_Madre_No_disponible', 'ap06_No_disponible', 'mdesemp_Satisfactorio', 'Nivel_Ed_Padre_Blanco', 'ldesemp_Por_debajo_del_nivel_básico', 'ap26_No_disponible', 'ap24_Blanco', 'Nivel_Ed_Padre_No_disponible', 'ap01_Enero', 'ap26_Blanco', 'ap06_Blanco', 'ap04_Bolivia', 'ap03_Masculino', 'Nivel_Ed_Padre_Multimarca', 'sector_binario', 'ap01_Marzo', 'ap02_2008', 'ap02_No_disponible', 'ap04_No_disponible', 'ap06_Multimarca', 'ap04_Argentina', 'ap10_No_disponible', 'ap01_Junio', 'ap01_Septiembre', 'ap02_2006', 'Nivel_Ed_Padre_Primaria_completo', 'Nivel_Ed_Padre_Secundaria_completo', 'ap01_Abril', 'ap04_Multimarca', 'ap02_2005', 'ap10_Multimarca', 'ap01_Agosto', 'ap10_Blanco', 'ap02_2007', 'Nivel_Ed_Padre_Terciario_universitario_posgrado_completo', 'ap04_Colombia', 'ap01_Octubre', 'ap19_Multimarca', 'Nro_Encuestados', 'ap24_No_disponible', 'ap03_Blanco', 'lon', 'Nivel_Ed_Madre_Blanco', 'ap04_Otro_país_de_América', 'ap04_Brasil', 'ap01_No_disponible', 'ap04_Paraguay', 'ap02_2004', 'ap26_Multimarca', 'ap01_Diciembre', 'ap19_De_51_a_100_libros', 'ap03_No_disponible', 'ap04_Blanco', 'ap06_No', 'ldesemp_Satisfactorio', 'ap19_No_disponible', 'Nivel_Ed_Madre_Terciario_universitario_posgrado_completo', 'ap03_Femenino', 'ap04_Venezuela', 'ap19_No_hay_libros_en_formato_papel', 'mdesemp_Avanzado', 'ap04_Chile', 'ambito_binario', 'ap01_Noviembre', 'ldesemp_Básico', 'ap01_Julio', 'ap19_Blanco', 'mdesemp_Por_debajo_del_nivel_básico', 'ap07_No_disponible', 'sobreedad_2_años_de_sobreedad_19_años_al_30_de_junio', 'ap01_Blanco', 'ap02_Multimarca', 'ap03_Multimarca', 'ap04_Uruguay', 'ldesemp_Avanzado', 'mdesemp_Básico', 'Nivel_Ed_Madre_Primaria_completo', 'lat', 'Nivel_Ed_Madre_Multimarca']

In [45]:
print(df1_f.columns[df1_f.columns.duplicated()])
print(df2_f.columns[df2_f.columns.duplicated()])
print(df3_f.columns[df3_f.columns.duplicated()])

Index(['ap04_Bolivia', 'ap04_Colombia', 'ap19_Multimarca', 'ap04_Brasil',
       'ap04_Paraguay', 'ap19_No_disponible', 'ap04_Venezuela', 'ap04_Chile',
       'ap19_Blanco', 'ap04_Uruguay'],
      dtype='object')
Index(['ap02_2007', 'Nivel_Ed_Padre_Terciario_universitario_posgrado_completo',
       'Nivel_Ed_Madre_Terciario_universitario_posgrado_completo'],
      dtype='object')
Index([], dtype='object')

In [41]:
# 1. Encontrar columnas comunes a los 3 df
cols_comunes = (
    (set(df1_f.columns)
    & set(df2_f.columns))
    & set(df3_f.columns)
)

cols_comunes = list(cols_comunes)   # convertir a lista para indexar

# 2. Filtrar cada df a solo columnas comunes
df1_c = df1_f[cols_comunes].copy()
df2_c = df2_f[cols_comunes].copy()
df3_c = df3_f[cols_comunes].copy()

# 3. Concatenar verticalmente
df_final = pd.concat([df1_c, df2_c, df3_c], axis=0, ignore_index=True)

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [42]:
df1_c.shape, df2_c.shape, df3_c.shape

((1175, 100), (1211, 93), (1227, 90))

In [35]:
print(type(df1_f), type(df2_f), type(df3_f))
print((df1_f.index, df2_f.index, df3_f.index))
print((df1_f.columns, df2_f.columns, df3_f.columns))
print(df1_f.shape, df2_f.shape, df3_f.shape)
print(df1_f.index.nlevels, df2_f.index.nlevels, df3_f.index.nlevels)

<class 'pandas.core.frame.DataFrame'> <class 'pandas.core.frame.DataFrame'> <class 'pandas.core.frame.DataFrame'>
(RangeIndex(start=0, stop=1175, step=1), RangeIndex(start=0, stop=1211, step=1), RangeIndex(start=0, stop=1227, step=1))
(Index(['Nivel_Ed_Madre_Secundaria_completo', 'ap01_Multimarca', 'ap02_Blanco',
       'ap19_De_1_a_5_libros', 'ap07_Blanco', 'ap01_Mayo', 'ap01_Febrero',
       'ap02_2003', 'ap07_Multimarca',
       'sobreedad_1_año_de_sobreedad_18_años_al_30_de_junio', 'ap04_Perú',
       'Nivel_Ed_Madre_No_disponible', 'ap06_No_disponible',
       'mdesemp_Satisfactorio', 'Nivel_Ed_Padre_Blanco',
       'ldesemp_Por_debajo_del_nivel_básico', 'ap26_No_disponible',
       'ap24_Blanco', 'Nivel_Ed_Padre_No_disponible', 'ap01_Enero',
       'ap26_Blanco', 'ap06_Blanco', 'ap04_Bolivia', 'ap04_Bolivia',
       'ap03_Masculino', 'Nivel_Ed_Padre_Multimarca', 'sector_binario',
       'ap01_Marzo', 'ap02_2008', 'ap02_No_disponible', 'ap04_No_disponible',
       'ap06_Multimarca', 'ap04_Argentina', 'ap10_No_disponible', 'ap01_Junio',
       'ap01_Septiembre', 'ap02_2006', 'Nivel_Ed_Padre_Primaria_completo',
       'Nivel_Ed_Padre_Secundaria_completo', 'ap01_Abril', 'ap04_Multimarca',
       'ap02_2005', 'ap10_Multimarca', 'ap01_Agosto', 'ap10_Blanco',
       'ap02_2007', 'Nivel_Ed_Padre_Terciario_universitario_posgrado_completo',
       'ap04_Colombia', 'ap04_Colombia', 'ap01_Octubre', 'ap19_Multimarca',
       'ap19_Multimarca', 'Nro_Encuestados', 'ap24_No_disponible',
       'ap03_Blanco', 'lon', 'Nivel_Ed_Madre_Blanco',
       'ap04_Otro_país_de_América', 'ap04_Brasil', 'ap04_Brasil',
       'ap01_No_disponible', 'ap04_Paraguay', 'ap04_Paraguay', 'ap02_2004',
       'ap26_Multimarca', 'ap01_Diciembre', 'ap19_De_51_a_100_libros',
       'ap03_No_disponible', 'ap04_Blanco', 'ap06_No', 'ldesemp_Satisfactorio',
       'ap19_No_disponible', 'ap19_No_disponible',
       'Nivel_Ed_Madre_Terciario_universitario_posgrado_completo',
       'ap03_Femenino', 'ap04_Venezuela', 'ap04_Venezuela',
       'ap19_No_hay_libros_en_formato_papel', 'mdesemp_Avanzado', 'ap04_Chile',
       'ap04_Chile', 'ambito_binario', 'ap01_Noviembre', 'ldesemp_Básico',
       'ap01_Julio', 'ap19_Blanco', 'ap19_Blanco',
       'mdesemp_Por_debajo_del_nivel_básico', 'ap07_No_disponible',
       'sobreedad_2_años_de_sobreedad_19_años_al_30_de_junio', 'ap01_Blanco',
       'ap02_Multimarca', 'ap03_Multimarca', 'ap04_Uruguay', 'ap04_Uruguay',
       'ldesemp_Avanzado', 'mdesemp_Básico',
       'Nivel_Ed_Madre_Primaria_completo', 'lat', 'Nivel_Ed_Madre_Multimarca'],
      dtype='object'), Index(['Nivel_Ed_Madre_Secundaria_completo', 'ap01_Multimarca', 'ap02_Blanco',
       'ap19_De_1_a_5_libros', 'ap07_Blanco', 'ap01_Mayo', 'ap01_Febrero',
       'ap02_2003', 'ap07_Multimarca',
       'sobreedad_1_año_de_sobreedad_18_años_al_30_de_junio', 'ap04_Perú',
       'Nivel_Ed_Madre_No_disponible', 'ap06_No_disponible',
       'mdesemp_Satisfactorio', 'Nivel_Ed_Padre_Blanco',
       'ldesemp_Por_debajo_del_nivel_básico', 'ap26_No_disponible',
       'ap24_Blanco', 'Nivel_Ed_Padre_No_disponible', 'ap01_Enero',
       'ap26_Blanco', 'ap06_Blanco', 'ap04_Bolivia', 'ap03_Masculino',
       'Nivel_Ed_Padre_Multimarca', 'sector_binario', 'ap01_Marzo',
       'ap02_2008', 'ap02_No_disponible', 'ap04_No_disponible',
       'ap06_Multimarca', 'ap04_Argentina', 'ap10_No_disponible', 'ap01_Junio',
       'ap01_Septiembre', 'ap02_2006', 'Nivel_Ed_Padre_Primaria_completo',
       'Nivel_Ed_Padre_Secundaria_completo', 'ap01_Abril', 'ap04_Multimarca',
       'ap02_2005', 'ap10_Multimarca', 'ap01_Agosto', 'ap10_Blanco',
       'ap02_2007', 'ap02_2007',
       'Nivel_Ed_Padre_Terciario_universitario_posgrado_completo',
       'Nivel_Ed_Padre_Terciario_universitario_posgrado_completo',
       'ap04_Colombia', 'ap01_Octubre', 'ap19_Multimarca', 'Nro_Encuestados',
       'ap24_No_disponible', 'ap03_Blanco', 'lon', 'Nivel_Ed_Madre_Blanco',
       'ap04_Otro_país_de_América', 'ap04_Brasil', 'ap01_No_disponible',
       'ap04_Paraguay', 'ap02_2004', 'ap26_Multimarca', 'ap01_Diciembre',
       'ap19_De_51_a_100_libros', 'ap03_No_disponible', 'ap04_Blanco',
       'ap06_No', 'ldesemp_Satisfactorio', 'ap19_No_disponible',
       'Nivel_Ed_Madre_Terciario_universitario_posgrado_completo',
       'Nivel_Ed_Madre_Terciario_universitario_posgrado_completo',
       'ap03_Femenino', 'ap04_Venezuela',
       'ap19_No_hay_libros_en_formato_papel', 'mdesemp_Avanzado', 'ap04_Chile',
       'ambito_binario', 'ap01_Noviembre', 'ldesemp_Básico', 'ap01_Julio',
       'ap19_Blanco', 'mdesemp_Por_debajo_del_nivel_básico',
       'ap07_No_disponible',
       'sobreedad_2_años_de_sobreedad_19_años_al_30_de_junio', 'ap01_Blanco',
       'ap02_Multimarca', 'ap03_Multimarca', 'ap04_Uruguay',
       'ldesemp_Avanzado', 'mdesemp_Básico',
       'Nivel_Ed_Madre_Primaria_completo', 'lat', 'Nivel_Ed_Madre_Multimarca'],
      dtype='object'), Index(['Nivel_Ed_Madre_Secundaria_completo', 'ap01_Multimarca', 'ap02_Blanco',
       'ap19_De_1_a_5_libros', 'ap07_Blanco', 'ap01_Mayo', 'ap01_Febrero',
       'ap02_2003', 'ap07_Multimarca',
       'sobreedad_1_año_de_sobreedad_18_años_al_30_de_junio', 'ap04_Perú',
       'Nivel_Ed_Madre_No_disponible', 'ap06_No_disponible',
       'mdesemp_Satisfactorio', 'Nivel_Ed_Padre_Blanco',
       'ldesemp_Por_debajo_del_nivel_básico', 'ap26_No_disponible',
       'ap24_Blanco', 'Nivel_Ed_Padre_No_disponible', 'ap01_Enero',
       'ap26_Blanco', 'ap06_Blanco', 'ap04_Bolivia', 'ap03_Masculino',
       'Nivel_Ed_Padre_Multimarca', 'sector_binario', 'ap01_Marzo',
       'ap02_2008', 'ap02_No_disponible', 'ap04_No_disponible',
       'ap06_Multimarca', 'ap04_Argentina', 'ap10_No_disponible', 'ap01_Junio',
       'ap01_Septiembre', 'ap02_2006', 'Nivel_Ed_Padre_Primaria_completo',
       'Nivel_Ed_Padre_Secundaria_completo', 'ap01_Abril', 'ap04_Multimarca',
       'ap02_2005', 'ap10_Multimarca', 'ap01_Agosto', 'ap10_Blanco',
       'ap02_2007', 'Nivel_Ed_Padre_Terciario_universitario_posgrado_completo',
       'ap04_Colombia', 'ap01_Octubre', 'ap19_Multimarca', 'Nro_Encuestados',
       'ap24_No_disponible', 'ap03_Blanco', 'lon', 'Nivel_Ed_Madre_Blanco',
       'ap04_Otro_país_de_América', 'ap04_Brasil', 'ap01_No_disponible',
       'ap04_Paraguay', 'ap02_2004', 'ap26_Multimarca', 'ap01_Diciembre',
       'ap19_De_51_a_100_libros', 'ap03_No_disponible', 'ap04_Blanco',
       'ap06_No', 'ldesemp_Satisfactorio', 'ap19_No_disponible',
       'Nivel_Ed_Madre_Terciario_universitario_posgrado_completo',
       'ap03_Femenino', 'ap04_Venezuela',
       'ap19_No_hay_libros_en_formato_papel', 'mdesemp_Avanzado', 'ap04_Chile',
       'ambito_binario', 'ap01_Noviembre', 'ldesemp_Básico', 'ap01_Julio',
       'ap19_Blanco', 'mdesemp_Por_debajo_del_nivel_básico',
       'ap07_No_disponible',
       'sobreedad_2_años_de_sobreedad_19_años_al_30_de_junio', 'ap01_Blanco',
       'ap02_Multimarca', 'ap03_Multimarca', 'ap04_Uruguay',
       'ldesemp_Avanzado', 'mdesemp_Básico',
       'Nivel_Ed_Madre_Primaria_completo', 'lat', 'Nivel_Ed_Madre_Multimarca'],
      dtype='object'))
(1175, 100) (1211, 93) (1227, 90)
1 1 1

In [31]:
df1.columns.is_unique
df2.columns.is_unique
df3.columns.is_unique

True

In [24]:
df_final = pd.concat([df1_f, df2_f, df3_f], axis=0, ignore_index=True)

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [22]:
df_sum.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1227 entries, 0 to 1226
Columns: 103 entries, Nivel_Ed_Madre_Blanco to sobreedad_2_años_de_sobreedad_19_años_al_30_de_junio
dtypes: float64(103)
memory usage: 996.9 KB

In [23]:
df_sum.head()

,Nivel_Ed_Madre_Blanco,Nivel_Ed_Madre_Multimarca,Nivel_Ed_Madre_No_disponible,Nivel_Ed_Madre_Primaria_completo,Nivel_Ed_Madre_Secundaria_completo,Nivel_Ed_Madre_Terciario_universitario_posgrado_completo,Nivel_Ed_Madre_Terciario_universitario_posgrado_completo,Nivel_Ed_Padre_Blanco,Nivel_Ed_Padre_Multimarca,Nivel_Ed_Padre_No_disponible,...,ldesemp_Por_debajo_del_nivel_básico,ldesemp_Satisfactorio,lon,mdesemp_Avanzado,mdesemp_Básico,mdesemp_Por_debajo_del_nivel_básico,mdesemp_Satisfactorio,sector_binario,sobreedad_1_año_de_sobreedad_18_años_al_30_de_junio,sobreedad_2_años_de_sobreedad_19_años_al_30_de_junio
0,0.0,0.0,0.0,391.571244,1356.951867,1785.994376,1635.600989,0.0,0.0,0.0,...,887.468561,2466.863500,-175.166371,230.992331,1457.919952,1872.852558,1897.206013,3.0,871.978346,444.851612
1,0.0,0.0,0.0,170.792552,934.623531,1764.722556,1658.791677,0.0,0.0,0.0,...,351.257054,1972.869309,-175.166371,302.177951,1070.162414,951.657087,1752.416989,0.0,454.872920,105.266280
2,0.0,0.0,0.0,186.699398,956.209399,840.577339,753.620932,0.0,0.0,0.0,...,355.502929,1522.856190,-175.509295,61.093518,859.944962,887.384513,1102.656125,3.0,560.352473,213.050035
3,0.0,0.0,0.0,65.452826,1021.853877,1661.314355,1528.210423,0.0,0.0,0.0,...,342.207397,2068.124238,-175.509295,82.528744,1287.053461,880.972566,1600.466332,0.0,318.790896,46.920137
4,0.0,0.0,0.0,184.080543,778.703927,496.896148,451.463239,0.0,0.0,0.0,...,363.960135,1093.336237,-175.502150,13.211296,688.942963,886.444354,582.277358,3.0,403.078909,153.157179